sensor.deur_openslaand_access_control:
  hidden: true
sensor.deur_openslaand_alarm_level:
  hidden: true
sensor.deur_openslaand_alarm_type:
  hidden: true
sensor.deur_openslaand_sourcenodeid:
  hidden: true
sensor.deur_voor_access_control:
  hidden: true
sensor.deur_voor_alarm_level:
  hidden: true
sensor.deur_voor_alarm_type:
  hidden: true
sensor.deur_voor_sourcenodeid:
  hidden: true
sensor.deur_achter_access_control:
  hidden: true
sensor.deur_achter_alarm_level:
  hidden: true
sensor.deur_achter_alarm_type:
  hidden: true
sensor.deur_achter_sourcenodeid:
  hidden: true
sensor.power_wasmachine_exporting:
  hidden: true
sensor.power_wasmachine_interval:
  hidden: true
sensor.power_wasmachine_alarm_type:
  hidden: true
sensor.power_wasmachine_alarm_level:
  hidden: true
sensor.power_wasmachine_sourcenodeid:
  hidden: true
sensor.power_wasmachine_previous_reading:
  hidden: true
sensor.power_wasmachine_previous_reading_9_17:
  hidden: true
sensor.power_wasmachine_interval_9_18:
  hidden: true
sensor.power_wasmachine_interval_9_22:
  hidden: true
sensor.power_wasmachine_power_management:
  hidden: true
sensor.power_hal_exporting:
  hidden: true
sensor.power_hal_interval:
  hidden: true
sensor.power_hal_alarm_type:
  hidden: true
sensor.power_hal_alarm_level:
  hidden: true
sensor.power_hal_sourcenodeid:
  hidden: true
sensor.power_hal_previous_reading:
  hidden: true
sensor.power_hal_power_management:
  hidden: true
sensor.power_wasmachine_interval_2:
  hidden: true
sensor.power_hal_interval_8_22:
  hidden: true
sensor.power_hal_interval_8_10:
  hidden: true
sensor.power_hal_interval_3:
  hidden: true
sensor.power_hal_interval_2:
  hidden: true
sensor.power_wasmachine_interval_4:
  hidden: true
sensor.power_wasmachine_interval_3:
  hidden: true
sensor.power_wasmachine_previous_reading_3:
  hidden: true
sensor.power_wasmachine_previous_reading_4:
  hidden: true
media_player.denon_avrx2000:
  source_list:
  - Favorite Station1
  - GAME
  - MEDIA PLAYER
sensor.power_hal_interval_4:
  hidden: true
sensor.power_hal_previous_reading_4:
  hidden: true
sensor.power_hal_previous_reading_2:
  hidden: true
sensor.power_hal_previous_reading_3:
  hidden: true
sensor.power_wasmachine_previous_reading_2:
  hidden: true
sensor.power_hal_energy:
  hidden: true
sensor.power_hal_current:
  hidden: true
zwave._:
  hidden: true
group.all_automations:
  hidden: false
group.all_scripts:
  hidden: false