daan_phone:
  hide_if_away: false
  icon:
  mac:
  name: daan
  picture: /local/daan.jpg
  track: true
  vendor:

joyce_phone:
  hide_if_away: false
  icon:
  mac:
  name: joyce
  picture: /local/joyce.jpg
  track: true
  vendor:
