burgular:
  alias: burgular
  sequence:
  - data:
      message: Intruder alert at the house!!
      title: Intruder alert
    service: notify.daan_mail
  - data:
      message: 'Intruder alert at the house!! Go to: http://thuis.daanmolenaar.nl:8123'
      title: Intruder alert
    service: notify.pushetta

coming_home:
  alias: Coming Home
  sequence:
  - data: {
      "entity_id": "alarm_control_panel.home_alarm",
      "code": !secret alarm_code
    }
    service: alarm_control_panel.alarm_disarm
  - entity_id: scene.home
    service: scene.turn_on