alarm_code: {{ alarm_code }}
api_password: {{ api_password }}
strava_api_token: {{ strava_api_token }}
ns_password: {{ ns_password }}
pushetta_api_key: {{ pushetta_api_key }}
security_mailbox_pass: {{ security_mailbox_pass }}
mqtt_pass: {{ mqtt_pass }}
network_key: {{ zwave_key }}
mysql_uri: {{ mysql_uri }}