sensor.neo_coolcam_power_plug_12a_previous_reading:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_previous_reading_8:
  ignored: true
  polling_intensity: 0
sensor.deur_openslaand_access_control:
  ignored: true
  polling_intensity: 0
sensor.deur_openslaand_alarm_level:
  ignored: true
  polling_intensity: 0
sensor.deur_openslaand_alarm_type:
  ignored: true
  polling_intensity: 0
sensor.deur_openslaand_sourcenodeid:
  ignored: true
  polling_intensity: 0
sensor.deur_voor_alarm_level:
  ignored: true
  polling_intensity: 0
sensor.deur_voor_access_control:
  ignored: true
  polling_intensity: 0
sensor.deur_voor_sourcenodeid:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_alarm_level:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_alarm_level_2:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_alarm_type:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_alarm_type_2:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval_5:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval_4:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval_3:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval_6:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval_8:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval_2:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_interval_7:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_power_2:
  ignored: true
  polling_intensity: 0
sensor.neo_coolcam_power_plug_12a_power:
  ignored: true
  polling_intensity: 0
